html {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: blue;
    padding: 20px 0;
    text-shadow: 1.5px 1.5px 0px yellow;
}

h2 {
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 0px blue;
}

h3 {
    color: yellow;
}

h4 {
    color: blue;
}

ul{
    color: yellow;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

body {
    width: 1080px;
    margin: 0 auto;
    background-color: rgb(46, 46, 47);
    border: 5px solid blue;
    padding: 0 20px 20px 20px;
}

.boton-redondeado {
    background-color: white; /* Establece el color de fondo */
    border: 1px solid; /* Quita el borde del botón */
    border-color: black;
    color: black; /* Establece el color del texto */
    padding: 10px 20px; /* Establece el relleno del botón */
    text-align: center; /* Centra el texto en el botón */
    font-weight: bold;
    font-size: 15px; /* Establece el tamaño de fuente del texto */
    border-radius: 25px; /* Establece el radio de borde del botón */
  }
  